@import '../node_modules/bootstrap/dist/css/bootstrap.css'
@import '../node_modules/font-awesome/css/font-awesome.css'
@import './variables.styl'
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic)
@import url(https://fonts.googleapis.com/css?family=Signika:400,300)

/* Tags */

body {
  color: $text-color
  background: #eee
  font-family: 'Roboto', sans-serif
  font-size: 14px
}

a {
  color: $link-color
}

h1,
h2,
h3,
h4 {
  font-family: 'Signika', sans-serif
}

input[type="text"], textarea {
  outline: none
  box-shadow: none !important
}

/* Classes */

.page-header {
  margin-top: 0
  border-color: $border-color
  color: #aaa
}

.btn {
  font-family: 'Signika', sans-serif
}

.panel {
  border-color: $border-color
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0)
  box-shadow: 0 0 0 rgba(0, 0, 0, 0)
  h3 {
    margin-top: 0
  }
  .panel-body > h2 {
    margin-top: 0
  }
}

.input-group-addon {
  background-color: #fff
  border-color: $border-color
  border-top-width: 0
  border-bottom-width: 0
  border-right-width: 0
  border-radius: 0
  padding-right: 0
}
